@import "../globals";

#board {
  display: flex;
  flex-flow: row wrap;
  // flex-wrap: wrap;
  // justify-content: space-between;

  height: $board-length;
  width: $board-length;
  background: $board-background-color;
  outline: $board-outline solid $board-outline-color;

  @include user-select(none);
}
