@import "../globals";

$board-solved-outline-color: #5d9d33;

#board {
  display: flex;
  flex-flow: row wrap;

  height: $board-length;
  width: $board-length;
  background-color: $board-bg-color;
  outline: $board-outline solid $board-outline-color;

  @include user-select(none);

  &.solved {
    outline: $board-outline solid $board-solved-outline-color;
  }
}
