$box-length: 70px;
$box-margin: $box-length / 20;

$board-length: $box-length * 9 + $box-margin * 2;
$board-outline: $box-length / 10;

$board-bg-color: #676767;
$board-outline-color: #222222;

$sidebar-width: 240px;

$button-border-length: 1px;
$button-border-radius: 2px;

$button-border-color: #222222;

$button-bg-color: #ffffff;
$button-bg-active-color: darken($button-bg-color, 5%);

$highlighted-color: #064af1;

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
