@import "../globals";

$kb-np-length: $sidebar-width * 0.3;

$kb-np-margin-top: 10px;
$kb-np-spacing: 4px;

$kb-np-number-length: $kb-np-length - 2 * $kb-np-spacing;

$button-height: 35px;

$button-font-color: #000000;
$button-selected-font-color: #eeeeee;

$button-selected-bg-color: #000000;

.kb-sw-regular,
.kb-sw-candidate {
  height: $button-height;
  width: 50%;

  background-color: $button-bg-color;
  color: $button-font-color;

  border: $button-border-length solid $button-border-color;

  &.kb-sw-regular {
    border-top-left-radius: $button-border-radius;
    border-bottom-left-radius: $button-border-radius;
  }

  &.kb-sw-candidate {
    border-top-right-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;
  }
}

.kb-sw-selected {
  border: none;

  background-color: $button-selected-bg-color;
  color: $button-selected-font-color;
}

.kb-np {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  @include user-select(none);
}

.kb-np-delete,
.kb-np-number-container {
  margin-top: $kb-np-margin-top;

  background-color: $button-bg-color;
  color: $button-font-color;

  border: $button-border-length solid $button-border-color;
  border-radius: $button-border-radius;

  cursor: pointer;

  &:active {
    background-color: $button-bg-active-color;
  }
}

.kb-np-delete {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $kb-np-length * 2 / 3;
}

.kb-np-number-container {
  position: relative;

  width: $kb-np-length;
  height: $kb-np-length;
}

.kb-np-number {
  position: absolute;
  top: $kb-np-spacing;
  right: $kb-np-spacing;
  bottom: $kb-np-spacing;
  left: $kb-np-spacing;

  pointer-events: none;
}

.regular {
  width: 100%;
  height: 100%;
  font-size: $kb-np-number-length / 2;
  line-height: $kb-np-number-length;
}

.candidate {
  $third: $kb-np-number-length / 3;

  position: absolute;

  width: $third;
  height: $third;
  line-height: $third;

  &.row-1 {
    top: $third;
  }

  &.row-2 {
    top: 2 * $third;
  }

  &.col-1 {
    left: $third;
  }

  &.col-2 {
    left: 2 * $third;
  }
}
