@import "../globals";

$box-outline-length: 1px;

$box-color: white;
$box-selected-color: #ffda00;
$box-hover-color: lighten($box-selected-color, 20%);
$box-confirmed-color: darken($box-color, 20%);

$box-confirmed-selected-color: mix(
  $box-confirmed-color,
  $box-selected-color,
  40%
);
$box-confirmed-hover-color: mix($box-confirmed-color, $box-hover-color, 40%);

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $box-length;
  width: $box-length;
  background-color: $box-color;
  outline: $box-outline-length solid $board-bg-color;

  &:hover {
    background-color: $box-hover-color;
  }

  &.confirmed {
    background-color: $box-confirmed-color;

    &:hover {
      background-color: $box-confirmed-hover-color;
    }
  }

  &.highlighted {
    color: $highlighted-color;
  }

  &.selected {
    background-color: $box-selected-color;
  }

  &.confirmed.selected {
    background-color: $box-confirmed-selected-color;
  }

  &.rm {
    margin-right: $box-margin;
  }

  &.bm {
    margin-bottom: $box-margin;
  }
}

.box-value {
  font-size: $box-length * 0.6;
}
