@import "../../globals";

$marking-length: $box-length / 3;

.pencil-marks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > p {
    width: $marking-length;
    height: $marking-length;

    line-height: $marking-length;
    opacity: 0;

    &.marked {
      opacity: 1;
    }
  }
}
