html,
body {
  height: 100%;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;

  text-align: center;
}

#root {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
